*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #5a62b3;
}

#main_content{
    height: 370px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    margin-left: 450px;
    margin-top: 100px;
    margin-right: 400px;
}

form{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

}

form h1{
    text-align: center;
    /* padding-top:px; */
    padding-bottom: 20px;
    border-bottom: 1px solid ;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid grey;
}

form input{
    border: none;
    border-bottom: 2px solid gray ;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 159px;
    /* font-size: medium; */

}


#para1{
    padding-top: 20px;
    text-align: left;    
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
    /* margin-left: 125px; */
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    background-color: rgb(38,145,217);
    color: white;

}   

#para2{
    display: inline;
    text-align: center;
    padding-left: 100px;
}